@model List<Violation1ViewModel>
@{
    ViewData["Title"] = "Данные о насаждениях";
}

<div class="text-center">
    <h1 class="display-4">Расчет данных о насаждениях</h1>
</div>

<p class="fw-bolder">Общий корневой запас: </p>
<p class="fw-bolder">Общий ликвидный запас:</p>

<div class="table-responsive container">
    <table class="table table-hover table-bordered border-dark">
        <thead>
            <tr>
                <th>#</th>
                <th>Порода</th>
                <th>Ступень толщины</th>
                <th>Корневой запас</th>
                <th>Ликвидный запас</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < @Model.Count; i++)
            {
                <tr>
                    <th>@(i + 1)</th>
                    <td>@Model[i].Breed</td>
                    <td>@Model[i].ThicknessLevel</td>
                    <td>@Model[i]?.BreedStock?.RootStock</td>
                    <td>@Model[i]?.BreedStock?.LiquidStock</td>
                    <td>
                        <div class="text-center">
                            <button class="btn btn-outline-primary" data-item=@Json.Serialize(Model[i]) onclick="showDetails(this)">
                                Подробнее
                            </button>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div id="modal" class="modal fade">
    <div id="modal-content"></div>
</div>

<script>
    function showDetails(button) {
        var model = $(button).data("item");
        $.ajaxSetup({ cache: false });
        $.ajax({
            url: "BreedsDataDetails", // Указываем правильный путь к контроллеру
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(model),
            success: function (data) {
                // Отобразить полученные данные в модальном окне
                $("#modal-content").html(data);
                $("#modal").modal('show');
            }
        });
    }
</script>
