@using ForestDamageAssessment.BL.Interfaces;
@using ForestDamageAssessment.BL.Models;
@model ForestArea<ITreeViewModel>
@{
    ViewData["Title"] = "Расчет данных о насаждениях";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<div class="table-responsive">
    <table class="table table-hover table-bordered border">
        <thead>
            <tr>
                <th>#</th>
                <th>Порода</th>
                <th>Объем ствола в коре</th>
                <th class="text-center" colspan="3">Дровяная древесина</th>
                <th colspan="2">Общий размер ущерба</th>
            </tr>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th>Дрова</th>
                <th>Ставка платы</th>
                <th>Размер ущерба</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model?.ModelList?.Count; i++)
            {
                <tr>
                    <th>@(i + 1)</th>
                    <td>@Model?.ModelList[i].Breed</td>
                    <td>@String.Format("{0:f2}", Model?.ModelList[i].Stock.VInBark)</td>
                    <td>@String.Format("{0:f2}", Model?.ModelList[i].Stock.SumFirewood)</td>
                    <td>@String.Format("{0:C2}", Model?.ModelList[i].Money.TaxPriceFirewood)</td>
                    <td>@String.Format("{0:C2}", Model?.ModelList[i].Money.Firewood)</td>
                    <td>@String.Format("{0:C2}", Model?.ModelList[i].Money.BusinessAndFirewood)</td>
                    <td>
                        <div class="text-center">
                            <button class="btn bi bi-info-square" data-item=@Json.Serialize(Model?.ModelList[i]) onclick="showDetails(this)">
                            </button>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot class="table-dark">
            <tr>
                <td colspan="5">Итого по лесосеке</td>
                <td>@String.Format("{0:C2}", Model?.ForestData?.TotalFirewoodMoney)</td>
                <td colspan="2">@String.Format("{0:C2}", Model?.ForestData?.TotalBusinessAndFirewoodMoney)</td>
            </tr>
            @foreach (var item in Model.ForestData.Coefficients)
            {
                <tr>
                    <td colspan="5">@item.Key</td>
                    <td></td>
                    <td colspan="2">@String.Format("{0:C2}", @item.Value)</td>
                </tr>
            }
        </tfoot>
    </table>
</div>

<div class="form-text">
    <p>Вид нарушения (прил. @Model.ForestData.ViolationArticle.AppendixNumber п. @Model.ForestData.ViolationArticle.ArticleNumber):<br />@Model.ForestData.ViolationArticle.Title</p>
    <p>Размер ущерба:<br />@Model.ForestData.ViolationArticle.Punish</p>
    <p>Описание:<br />@Model.ForestData.ViolationArticle.Description</p>
    <a class="link-secondary" href=" https: //base.garant.ru/72141810/">Постановление Правительства РФ №1730</a>
    <a class="link-secondary" href="https://base.garant.ru/12153804/b89690251be5277812a78962f6302560/">Постановление Правительства РФ №310</a>
</div>

<div id="modal" class="modal fade">
    <div id="modal-content" class="modal-dialog"></div>
</div>

<script>
    function showDetails(button) {
        var model = $(button).data("item");
        $.ajaxSetup({ cache: false });
        $.ajax({
            url: "TreeFellingDataDetails",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(model),
            success: function (data) {
                $("#modal-content").html(data);
                $("#modal").modal('show');
            }
        });
    }
</script>